@import "grid.css";

.menu {
    background: rgb(255, 255, 255);
    font-size: 12pt;

    position: fixed;
    height: 4em;
    top: 0;
    left: 0;
    right: 0;
  /*  list-style-type: none;  убирает маркеры*/
}

.menu li {
    display: inline-block;
    float: right;
    }

.menu a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding: 30px;
    }

.menu a:hover {
    color: rgb(250, 136, 136);
}

.index {
    position: absolute;
    left: 2%;
    font-family: Helvetica;
    font-size: 25pt;
}

.menu1 {
    align: left;
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.form {
    padding: 5px;
}

fieldset {
    padding: 1em;
    font:90%/1 sans-serif;
    width: 80%;
    }

label {
    float:left;
    width:30%;
    margin-right:0.5em;
    padding-top:0.2em;
    text-align:right;
    font-weight:bold;
    }

legend {
    padding: 0.2em 0.5em;
    border:1px solid rgb(236, 10, 10);
    color:rgb(236, 10, 10);
    font-size:120%;
    }
.container1 {
        margin: 7em auto;
        height: 100%;
        max-width: 1000px;
    }

.cat1 {
    position: 20 px;
    height: 200px;
    margin-right: 5px;
    padding: 5px;
}
.center {
    text-align: center;
}
.footer {
    height: 50px;
    background: rgb(0, 0, 0);
    flex: 0 0 auto;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0.5em;
}
